footer
  .container
    .footer-icons
      a(href='#')
        img.twitch(src='./assets/twitch.svg' alt='twitch')
      a(href='#')
        img.youtube(src='./assets/Vector.svg' alt='youtube')
      a(href='#')
        img.twitter(src='./assets/twitter.svg' alt='twitter')
      a(href='#')
        img.facebook(src='./assets/facebook.svg' alt='facebook')
    .footer-list
      ul
        li
          a(href='#main') MAIN
        li
          a(href='#main') ABOUT
        li
          a(href='#pagefeatures') GAME FEATURE
        li
          a(href='#pagerequirements') SYSTEM REQUIREMENTS
        li
          a(href='#topscoores') QUOTES
    br
    .border-footer
    br
    span &copy;2018 Your Games, Inc. All Right Reserved
    h6 PRIVACY POLICY | TERMS OF SERVICE | CODE OF PRODUCT
